{{> head}}
{{> navbar}}

<div class="row">
    <div class="col">
        <h1>Titulo de lo que sea</h1>
    </div>
    <div class="col">
        <img src="assets/img/londres-tiempo.jpg" class="img-thumbnail">
    </div>
</div>